{define #form}
{form $form}
{block #errors}

<div n:foreach="$renderer->findErrors() as $error" class="alert alert-danger">
    <a class="close" data-dismiss="alert">×</a>{$error}
</div>
{/block}
{block #body}

{* controls with group *}
{foreach $renderer->findGroups() as $group}{block #group}

    <fieldset{$group->attrs->attributes()|noescape}>
        <legend n:if="$group->label">{$group->label}</legend>
        <p n:if="$group->description">{$group->description}</p>

        {var $controls = $group->controls}
        {if isset($group->template) && $group->template}
            {include "$group->template", group => $group, controls => $controls, form => $form, _form => $form, __form => $form}

        {else}
            {block #controls}
            {foreach $controls as $control}
            {if $renderer->isSubmitButton($control)}
                {if $iterator->first}<div class="form-group"><div class="form-actions{ifset $skipClass} {$skipClass} {$inputClass}{/ifset}">{/if}
                {input $renderer->getControlName($control)}
                {if !$renderer->isSubmitButton($iterator->nextValue)}</div></div>{/if}
                {?continue}
            {/if}
            {if $renderer->horizontalMode}
                {var $attrs = ['input' => [], 'label' => ['class' => $labelClass]]}
            {else}
                {var $attrs = ['input' => [], 'label' => []]}
            {/if}

            {block #control}
            <div{$control->getOption('pairContainer')->attributes()|noescape} n:tag-if="$control->getOption('pairContainer')">
                {var
                    $name = $renderer->getControlName($control),
                    $description = $renderer->getControlDescription($control),
                    $error = $renderer->getControlError($control)
                }

                {if $controlTemplate = $renderer->getControlTemplate($control)}
                    {include "$controlTemplate", name => $name, description => $description, error => $error, form => $form, _form => $form, __form => $form, attrs => $attrs}

                {elseif $renderer->isSubmitButton($control)}

                    {$renderer::mergeAttrs($form[$name]->getControl(), $attrs['input'])}

                {elseif $renderer->isButton($control)}
                    <div class="{$skipClass} {$inputClass}" n:tag-if="isset($inputClass)">
                        {$renderer::mergeAttrs($form[$name]->getControl(), $attrs['input'])}{$error}{$description}
                    </div>

                {elseif $renderer->isCheckbox($control)}

					{var $label = $renderer::mergeAttrs($form[$name]->getLabel(), $attrs['label'])}
                    <div class="checkbox{ifset $skipClass} {$skipClass} {$inputClass}{/ifset}" n:tag-if="!$renderer->controlHasClass($control, 'inline')">
                        {$label->startTag()|noescape}{$renderer::mergeAttrs($form[$name]->getControl(), $attrs['input'])}{$renderer->getLabelBody($control)}{$label->endTag()|noescape}{$error}{$description}
                    </div>

                {elseif $renderer->isRadioList($control)}

                    {$renderer::mergeAttrs($form[$name]->getLabel()->addClass("control-label"), $attrs['label'])}

                    <div class="{$inputClass}" n:tag-if="isset($inputClass)">
                    {foreach $renderer->getRadioListItems($control) as $item}
                        <div class="radio">
                        {$renderer::mergeAttrs($item->html, $attrs['input'])}
                        </div>
                    {/foreach}{$error}{$description}
                    </div>

                {elseif $renderer->isCheckboxList($control)}

                    {$renderer::mergeAttrs($form[$name]->getLabel()->addClass("control-label"), $attrs['label'])}

                    <div class="{$inputClass}" n:tag-if="isset($inputClass)">
                    {foreach $renderer->getCheckboxListItems($control) as $item}
                        <div class="checkbox">
                        {$renderer::mergeAttrs($item->html, $attrs['input'])}
                        </div>
                    {/foreach}{$error}{$description}
                    </div>

                {else}

                    {$renderer::mergeAttrs($form[$name]->getLabel(), $attrs['label'])}

                    {var $prepend = $control->getOption('input-prepend'), $append = $control->getOption('input-append')}
                    <div class="{$inputClass}" n:tag-if="isset($inputClass)">
                        <div class="input-group" n:tag-if="$prepend || $append">
                        
                            <div class="input-group-addon" n:tag-if="$prepend">{$prepend}</div>
                            {$renderer::mergeAttrs($form[$name]->getControl(), $attrs['input'])}
                            <div class="input-group-addon" n:tag-if="$append">{$append}</div>
                        </div>
                        {$error}{$description}
                    </div>
                {/if}
            </div>
            {/block}

            {if $renderer->isSubmitButton($iterator->nextValue)}<div class="form-group"><div class="form-actions{ifset $skipClass} {$skipClass} {$inputClass}{/ifset}">{/if}
            {/foreach}
            {/block}

        {/if}
    </fieldset>
{/block}{/foreach}

{* controls without group *}
{include #controls, controls => $renderer->findControls()}
{/block}
{/form}
{/define}

{if !isset($mode)}
    {include #form, form => $form, renderer => $renderer}
{/if}
